@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Inter", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #FF9324;
}

@layer base {
    html {
        font-family: var(--font-display);
    }
    body{
        background-color: #ffffff;
    }
}

.w-md-editor-toolbar li > button {
    height: 40px !important;
    font-size: 24px !important;
    color: #4d638a !important;
    padding: 10px !important;
}

.w-md-editor-toolbar button:hover {
    color: #9539f8 !important;
    background-color: #E9D4FF;
    border-radius: 6px;
}

.w-md-editor-toolbar button:focus {
    outline: none;
    color: #007a99 !important;
    background-color: #d0f4ff !important;
}